/* WordPress Presentational Styles*/
.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 15px 5px 0; }

.alignright {
  float: right;
  margin: 0 0 5px 15px; }

.wp-caption {
  border: none;
  text-align: center;
  background: transparent;
  padding: 10px;
  margin: 10px; }

/* WordPress Presentational Styles*/
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  background: #37446d;
  font-family: 'Lato', sans-serif;
  position: relative;
  z-index: 9; }

.clear {
  width: 0px;
  height: 0px;
  clear: both; }

a, a img {
  outline: none;
  border: none;
  text-decoration: none;
  color: #151515; }

a:hover, a:active, a:visited {
  text-decoration: none; }

.parsley-error {
  color: red !important;
  border: 1px solid red !important; }

.parsley-error-list {
  display: none !important; }

div {
  display: block; }

.hidden {
  display: none; }

.suggestion {
  background: #fff;
  padding: 1em;
  display: block;
  margin-bottom: 1em;
  color: red; }

/*__________________ REPEATABLES __________________*/
h1 {
  font-size: 70px; }

h2 {
  font-size: 46px; }

h3 {
  font-size: 38px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 21px; }

p {
  margin-top: 1em;
  margin-bottom: 1em; }

ul {
  padding-left: 1em; }

hr {
  height: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: none;
  border-right: none;
  border-left: none; }

.one_line {
  height: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin: 0 0 68px 0; }

.two_lines {
  height: 6px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: none;
  border-left: none;
  margin: 8px 0 0 0; }

.red_text {
  color: #d42726; }

.centeredText {
  text-align: center; }

.alignedRight {
  text-align: right; }

.alignedLeft {
  text-align: left; }

.uppercase {
  text-transform: uppercase; }

.wrapper {
  max-width: 1144px;
  margin: 0 auto 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

/*__________________ END REPEATABLES __________________*/
/*__________________ Header Layout __________________*/
header {
  position: relative;
  top: 30px;
  z-index: 99;
  margin: 0 auto -163px auto; }

header ul {
  list-style: none;
  text-align: center;
  padding-left: 0; }

header ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 20px;
  letter-spacing: 1.25px;
  font-weight: 300; }

ul.top_navigation li {
  padding: 10px 0px; }

header ul li a {
  color: #ffffff; }

header ul li a i {
  color: #ffffff; }

.donateButton {
  background-color: #d42726;
  padding: 10px 12px !important;
  margin: 0 20px 0 10px;
  list-style: none; }

.donateButton a {
  font-weight: 400;
  list-style: none; }

.top_sig_logo {
  float: left; }

.top_social {
  float: right;
  margin: 28px 0 0 0; }

.top_social li {
  margin: 0 0 0 15px;
  font-size: 19px; }

.top_navigation {
  float: right;
  margin-top: 18px; }

.mobmenu {
  display: none;
  color: #fff; }

.mobmenuBtn {
  display: none; }

.mobmenubody {
  display: none; }

.nodot a {
  text-transform: uppercase;
  color: #ffffff; }

/*__________________ END of Header Layout __________________*/
/*__________________ Landing __________________*/
.landing_mid {
  width: 100%;
  height: auto;
  background-color: #18171f;
  position: relative;
  top: 0px;
  z-index: 9; }

.landing_bg {
  max-width: 1920px;
  height: auto;
  margin: 0 auto 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat; }

.landing_callout {
  position: relative;
  max-width: 1144px;
  padding: 325px 0 183px 0;
  margin: 0 auto 0 auto;
  height: auto; }

.landing_callout img {
  margin: 1em 0; }

.callout_1 {
  margin: 0;
  font-size: 62px;
  font-weight: 300;
  color: #ffffff;
  font-style: italic; }

.callout_2 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  color: #ffffff; }

.callout_3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px 8px; }

.redtext {
  color: #b43c2e; }

.bluetext {
  color: #1a294f; }

.joinform_bottom {
  width: 100%;
  position: inherit;
  z-index: 99;
  height: auto; }

.joinform_left {
  float: left;
  width: 43%;
  background: url(images/icon_blue_chevrons.jpg) right top no-repeat #1a294f;
  padding: 35px 0 36px 0; }

.joinform_left p {
  font-size: 22px;
  line-height: 22px;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: right;
  margin: 0 109px 0 0; }

.mid_chevrons {
  display: none; }

.joinform_right {
  height: 93px;
  float: left;
  width: 57%;
  background: #ffffff;
  border-bottom: 5px solid #7783b1; }

.joinform_right form {
  display: block;
  width: 555px;
  float: left; }

.joinform_right form input {
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #48506D;
  border: 0px;
  background: none;
  border-radius: 0px;
  margin: 36px 36px 0 3%; }

.joinform_right p {
  display: block;
  float: left;
  font-size: 22px;
  line-height: 22px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #48506D;
  margin: 35px 0 0 0; }

.joinform_bottom .joinform_right .parsley-error-list {
  display: block !important;
  list-style-type: none;
  font-size: 10px;
  padding-left: 20px;
  margin-top: 5px;
  font-style: italic; }

.joinform_bottom .joinform_right input {
  box-shadow: none !important;
  outline: none !important;
  transition: border 0.2s linear, padding 0.2s linear;
  -webkit-transition: border 0.2s linear, padding 0.2s linear;
  -moz-transition: border 0.2s linear, padding 0.2s linear; }

.joinform_bottom .joinform_right input.parsley-error {
  border: none;
  border-left: 1px solid red;
  padding-left: 5px; }

.joinform_bottom .joinform_right .parsley-error-list li {
  float: left;
  margin-right: 1em; }

/*__________________ END Landing __________________*/
/*__________________ INTERIOR CONTENT __________________*/
.interior_banner {
  width: 100%;
  display: block;
  height: 752px;
  position: inherit;
  z-index: 9;
  margin: 0 auto 0 auto;
  background-color: #18171f;
  background-position: center top;
  background-repeat: no-repeat; }

.black_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4MTcxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #18171f 0%, rgba(0, 0, 0, 0.4) 33%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #18171f), color-stop(33%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #18171f 0%, rgba(0, 0, 0, 0.4) 33%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #18171f 0%, rgba(0, 0, 0, 0.4) 33%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #18171f 0%, rgba(0, 0, 0, 0.4) 33%);
  /* IE10+ */
  background: linear-gradient(to bottom, #18171f 0%, rgba(0, 0, 0, 0.4) 33%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18171f', endColorstr='#66000000',GradientType=0 );
  /* IE6-8 */ }

.interior_join {
  width: 100%;
  display: block;
  height: 686px;
  position: inherit;
  z-index: 9;
  margin: 0px auto 0 auto;
  background-color: #18171f;
  background-position: center top;
  background-repeat: no-repeat; }

.interior_pagetitle {
  position: inherit;
  z-index: 997;
  margin: -190px 0 14px 0;
  height: 62px; }

.interior_pagetitle .wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -105px;
  max-width: 100%; }

.interior_pagetitle h1 {
  text-align: left;
  font-weight: 400;
  font-style: italic;
  font-size: 62px;
  color: #ffffff;
  max-width: 1144px;
  margin: 0 auto;
  display: block;
  padding-bottom: .2em; }

.title_notch {
  display: block;
  height: 36px;
  position: inherit;
  top: 88px;
  left: 0px;
  z-index: 997;
  background-position: center top;
  background-image: url(images/cut_out_arrow.png); }

.interior_content {
  position: inherit;
  background: #f6f6f6;
  padding: 22px 0 35px 0;
  margin-top: 88px; }

/*MEET JOHNNY*/
.content_left {
  max-width: 70%;
  padding: 0 0 67px 0;
  margin: 0 5% 0 0;
  border-bottom: 1px solid #e1e1e1;
  float: left; }

.content_right {
  max-width: 25%;
  float: left;
  text-align: center; }

.content_right img {
  width: 100%;
  height: auto;
  margin: .1em 0; }

.content_right p {
  font-family: 'Lato', sans-serif;
  font-size: 18px; }

.content_right p a {
  color: #37446d; }

.photo_bordered {
  width: 100%;
  height: auto;
  border: 14px solid #ffffff;
  box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.4);
  margin-bottom: 24px; }

/*JOIN JOHNNY*/
.content_full h1 {
  font-weight: 300;
  font-size: 62px;
  font-style: italic;
  margin: -16px 0 50px 0; }

.content_full h3 {
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  margin: 23px 0 42px 0;
  color: #7783b1; }

.content_full h3 span {
  font-size: 18px; }

.full_page .joinForm h3 {
  margin: 1em 0; }

.full_page .joinForm {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 36px 0; }

.full_page .joinForm input {
  padding: 12px 2% 9px 2%;
  border: 1px solid #7783b1;
  background: #ffffff;
  color: #48506D;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.full_page .joinForm input::-webkit-input-placeholder {
  color: #48506D; }

.full_page .joinForm input:-moz-placeholder {
  color: #48506D;
  opacity: 1; }

.full_page .joinForm input::-moz-placeholder {
  color: #48506D;
  opacity: 1; }

.full_page .joinForm input:-ms-input-placeholder {
  color: #48506D; }

.input_third_left {
  width: 32%;
  float: left;
  margin: 0 1% 22px 0; }

.input_third_mid {
  width: 32%;
  float: left;
  margin: 0 1% 22px 1%; }

.input_third_right {
  width: 32%;
  float: left;
  margin: 0 0 22px 1%; }

.input_sixth {
  width: 15%;
  float: left;
  margin: 0 1% 22px 1%; }

.joinForm .check_mark {
  width: 25%;
  float: left;
  margin: 0 0 41px 0; }

.joinForm .check_mark p {
  margin: 10px 0 0 0;
  font-size: 18px;
  line-height: 19px;
  vertical-align: top;
  font-weight: 300;
  font-style: italic;
  color: #7783b1; }

.full_page .joinForm input[type="checkbox"] {
  display: none; }

.full_page .joinForm input[type="checkbox"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 16px 0 0;
  vertical-align: middle;
  background: url(images/button_check_sprite.jpg) left top no-repeat;
  cursor: pointer;
  float: left;
  background-size: 200% auto; }

.full_page .joinForm input[type="checkbox"]:checked + label span {
  background: url(images/button_check_sprite.jpg) 100% top no-repeat;
  float: left;
  background-size: 200% auto; }

.full_page .joinForm input[type="submit"] {
  background: #d42726;
  border: none;
  padding: 9px 12px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 100;
  color: #ffffff;
  margin: 22px 0 48px 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.full_page .join_text {
  margin: 0px 0 26px 0;
  color: #7783b1;
  font-size: 28px;
  line-height: 35px;
  font-weight: 300;
  font-style: italic; }

.donate_button {
  display: inline-block;
  background: #d42726;
  border: none;
  padding: 9px 12px;
  font-size: 36px;
  line-height: 36px;
  font-style: italic;
  font-weight: 100;
  color: #ffffff;
  text-align: center; }

/*ISSUES*/
.full_page {
  padding: 0 0 74px 0; }

.full_page h3 {
  font-size: 36px;
  margin: -8px 0 8px 0;
  color: #d42726;
  font-weight: 300;
  font-style: italic; }

.full_page p {
  font-size: 14px;
  line-height: 150%;
  color: #1a294f;
  font-weight: 300;
  margin: 0 0 8px 0; }

.issue {
  margin-bottom: 2em; }

.issue .stayInformed {
  display: inline-block;
  padding: 11px 2%;
  color: #fff;
  background: #48506D;
  border: 1px solid #48506D; }

.issue h3.ty {
  font-size: 18px;
  padding: 20px;
  font-weight: 300;
  background: #fff;
  display: inline-block;
  margin-top: 10px; }

.issue form {
  transition: 0.2s lineear all;
  -webkit-transition: 0.2s lineear all;
  -moz-transition: 0.2s lineear all;
  display: inline-block;
  margin-right: 20px; }

.issue form input {
  width: 200px;
  padding: 10px 2% 10px 2%;
  border: 1px solid #7783b1;
  background: #ffffff;
  color: #48506D;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.issue form input::-webkit-input-placeholder {
  color: #48506D; }

.issue form input:-moz-placeholder {
  color: #48506D;
  opacity: 1; }

.issue form input::-moz-placeholder {
  color: #48506D;
  opacity: 1; }

.issue form input:-ms-input-placeholder {
  color: #48506D; }

/*BRIEFING*/
.briefing_header {
  font-weight: 300;
  font-size: 42px;
  color: #d42726;
  font-style: italic;
  margin: -16px 0 50px 0; }

.margin_top {
  margin: 18px 0 0 0; }

.older_tag {
  color: #4b5679;
  text-transform: uppercase;
  font-size: 18px; }

.briefing_left {
  max-width: 72%;
  padding: 0 0 0px 0;
  margin: 0 3% -11px 0;
  float: left;
  width: 100%; }

.article_box {
  width: 47%;
  padding: 0 0 88px 0;
  margin: 0 3% 0 0;
  float: left; }

.article_box img {
  width: 100%;
  height: auto; }

.article_box h4 {
  font-size: 30px;
  line-height: 33px;
  color: #7783b1;
  font-style: italic;
  font-weight: 300;
  margin: 32px 0 23px 0; }

.article_box p {
  color: #1a294f;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px; }

.article_left {
  width: 49%;
  float: left;
  text-align: left; }

.article_social {
  margin: 0 20px 0 0;
  color: #7783b1;
  font-size: 18px;
  transition: linear all 0.2s;
  -webkit-transition: linear all 0.2s;
  -moz-transition: linear all 0.2s; }

.article_social:hover {
  font-size: 22px; }

.article_right {
  width: 49%;
  float: left;
  text-align: right; }

.navigation_bottom {
  text-align: center; }

.navigation_bottom p.margin_top {
  display: inline; }

.article_time {
  color: #9B9B9B;
  font-size: 14px;
  display: inline; }

/*BRIEFING DETAIL*/
.interior_pagetitle h1 a.keyword_tag {
  display: inline-block;
  vertical-align: top;
  padding: 8px 23px;
  background: #d42726;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  margin: 18px 10px 0 0;
  font-style: normal; }

.detail_left {
  max-width: 69%;
  margin: 0 6% -11px 0;
  float: left;
  padding: 0 0 0 0; }

.detail_left p {
  color: #4b5679;
  font-size: 14px;
  line-height: 23px; }

.article_left {
  width: 49%;
  float: left;
  text-align: left;
  padding: 0 0 13px 0; }

.article_social {
  margin: 0 20px 0 0;
  color: #7783b1;
  font-size: 18px; }

.article_right {
  width: 49%;
  float: left;
  text-align: right; }

.article_time {
  color: #b7b7b7;
  font-size: 14px;
  display: inline; }

.detail_article_left {
  width: 49%;
  float: left;
  padding: 0 0 0 0;
  text-align: left; }

.detail_article_social {
  margin: 0 20px 0 0;
  color: #7783b1;
  font-size: 18px; }

.detail_article_right {
  width: 49%;
  float: left;
  text-align: right; }

.detail_article_right p {
  padding: 0 0 10px 0; }

.detail_article_time {
  color: #b7b7b7;
  font-size: 14px;
  display: inline; }

/*COMMENTS*/
.comments {
  margin: 22px 0 0 0; }

.comments_icon {
  display: inline-block;
  color: #7783b1;
  font-size: 72px;
  margin: 0 25px 0 0;
  float: left; }

.comments_count {
  display: block;
  width: 60px;
  margin: 19px 0 0 -92px;
  float: left;
  text-align: center; }

.comments_count p {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 0 0 0; }

.comments_title {
  display: block;
  padding: 0 0 0 0;
  margin: 21px 0 0 0;
  float: left; }

.comments_title p {
  font-size: 30px;
  line-height: 30px;
  color: #1a294f;
  font-weight: 700;
  padding: 0 0 0 0;
  letter-spacing: 2px; }

.comments_left {
  width: 15%;
  margin: 45px 0 0 0;
  float: left; }

.comments_left img {
  width: 80px;
  height: auto;
  border-radius: 40px; }

.comments_right {
  width: 85%;
  margin: 45px 0 30px 0;
  float: left;
  padding: 26px 2% 31px 40px;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99; }

.comments_right .comments_right {
  width: 100%; }

.comments_right p {
  padding: 0 0 0 0;
  font-size: 14px;
  color: #1a294f;
  line-height: 20px; }

.comments_name {
  width: 90%;
  float: left; }

.comments_name h3 {
  font-size: 21px;
  font-weight: 300;
  margin: 0 0 15px 0; }

.comments_name h3 span {
  font-size: 14px;
  font-weight: 300; }

.comments_button {
  width: 65px;
  position: absolute;
  top: 9px;
  right: 19px;
  z-index: 9999;
  display: block;
  background: #7783b1;
  border-radius: 3px;
  padding: 9px 15px 9px 15px;
  text-align: center; }

.comments_button a {
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  line-height: 12px;
  padding: 0 0 0 0; }

/*.reply_button                               {}
.reply_button p                             {font-size: 12px; color: #ffffff; font-weight: 300; font-style: italic; line-height: 12px; padding: 0 0 0 0; }*/
.left_pointer {
  display: block;
  position: relative;
  left: -55px;
  top: 8px;
  margin: 0 0 -19px 0; }

#respond {
  width: 85%;
  margin: 45px 0 30px 15%;
  float: left;
  padding: 26px 2% 31px 40px;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99; }

#cancel-comment-reply-link {
  font-size: 14px;
  color: #7783b1; }

.comment-form p {
  margin: 0;
  padding: 0; }

.comment-form label {
  display: block; }

.comment-form textarea {
  width: 100%;
  max-width: 100%;
  height: auto; }

.comment-form .form-allowed-tags {
  display: none; }

.comment-form input[type=submit] {
  display: block;
  background: #7783b1;
  border-radius: 3px;
  padding: 9px 15px 9px 15px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
  font-style: italic; }

/*__________________ INTERIOR CONTENT __________________*/
/*__________________ SIDEBAR CONTENT with/without ARCHIVES __________________*/
.briefing_right {
  width: 24%;
  float: right;
  text-align: left; }

.briefing_right form input {
  width: 99%;
  border: 1px solid #7783b1;
  background: url(images/icon_magnify.png) 4% 11px no-repeat #ffffff;
  padding: 9px 0 9px 16%;
  font-size: 18px;
  color: #7783b1;
  margin: 0 0 37px 0; }

.briefing_right h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: #d42726;
  letter-spacing: 4px;
  font-weight: 300; }

.briefing_right ul {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 0 0 44px 0; }

.briefing_right ul li {
  margin: 8px 0 0 0;
  color: #7783b1; }

.briefing_right ul li a {
  color: #7783b1; }

.detail_right {
  width: 24%;
  float: left;
  text-align: left; }

.detail_right form input {
  width: 99%;
  border: 1px solid #7783b1;
  background: url(images/icon_magnify.png) 4% 11px no-repeat #ffffff;
  padding: 9px 0 9px 16%;
  font-size: 18px;
  color: #7783b1;
  margin: 0 0 37px 0; }

.detail_right h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: #d42726;
  letter-spacing: 4px;
  font-weight: 300; }

.detail_right ul {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 0 0 44px 0; }

.detail_right ul li {
  margin: 16px 0 0 0;
  color: #7783b1; }

.detail_right ul li a {
  color: #7783b1; }

/*__________________ SIDEBAR CONTENT __________________*/
/*__________________ SEARCH BOX __________________*/
.top_social li {
  position: relative; }

#hideBox {
  width: 280px;
  height: 76px;
  padding: 22px;
  background-color: #37446d;
  position: absolute;
  top: 40px;
  left: auto;
  right: -50%;
  z-index: 99999;
  display: none;
  margin: 0; }

#hideBox form {
  margin: -26px 0 0 0;
  height: 32px; }

#hideBox form input[type="text"] {
  background: #ffffff;
  padding: 12px 0 12px 4%;
  border: none;
  font-size: 14px;
  color: #7783b1;
  letter-spacing: 3px;
  width: 78%;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

#hideBox form input[type="submit"] {
  width: 20%;
  padding: 12px 0 12px 0;
  text-align: center;
  background: #7783b1;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  display: inline-block;
  border: none;
  margin: 0 0 0 -1%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

#hideBox img {
  position: relative;
  top: -40px;
  right: -50%; }

/*__________________ SEARCH BOX __________________*/
/*__________________ FOOTER __________________*/
footer {
  background: #37446d;
  color: #fff;
  position: inherit;
  text-align: center;
  padding: 44px 0 31px 0; }

.footsig {
  margin: 0 0 10px 0; }

footer h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 11px 0; }

.disclaimer {
  max-width: 229px;
  margin: 250px auto 5px auto;
  padding: 3px 3px;
  border: 1px solid #fff; }

.disclaimer p {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.foot-left, .foot-right {
  float: left; }

.foot-left {
  width: 18%;
  text-align: left;
  margin: 0 0 33px 0; }

.foot-left p a {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px; }

.foot-mid {
  text-align: center;
  margin: 0 auto 0px auto;
  max-width: 450px;
  width: 100%; }

.foot-mid ul {
  padding: 0;
  list-style: none;
  text-align: center; }

.foot-mid ul li {
  display: inline-block;
  margin: 0 0 0 9px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #7783b1; }

.foot-mid ul li span {
  margin: 0 0 0 9px;
  font-size: 8px; }

.bottom_navigation li a {
  color: #fff;
  font-size: 10px; }

.foot-mid ul li.footSRG a {
  display: block;
  width: 22px;
  height: 13px;
  background: url(images/logo_srg.png) center center no-repeat;
  background-size: 100% auto;
  text-indent: -2500px; }

.foot-right {
  width: 18%;
  text-align: right;
  margin: 0 0 33px 0; }

.foot-right img {
  width: 35px;
  height: auto; }

#googleBox iframe {
  display: none !important; }

/*__________________ End FOOTER __________________*/
/*__________________ PHOTOS __________________*/
.popup_inner {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: -10px;
  z-index: 99999; }

.popup_inner a {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: url(../popup/close_pop3.png) no-repeat center center; }

.popup_inner a:hover {
  opacity: 1 !important; }

#mainSliderWrap {
  margin: 0 2.5%;
  display: none;
  position: fixed;
  top: 100px;
  max-width: 800px;
  max-height: 70%;
  z-index: 999;
  height: 600px;
  width: 95%;
  background: #fff;
  padding: 4px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-sizing: border-box;
  z-index: 9999; }

#mainSlider {
  width: 100%;
  max-height: 286px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100% !important; }

#mainSlider .photo {
  width: 100%;
  height: 100%; }

#mainSlider .controls {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

#mainSlider .counterWrap {
  float: left;
  color: #fff;
  font-size: 22px;
  margin-top: 25px;
  font-weight: 300;
  font-style: italic; }

#mainSlider .counter {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%; }

#mainSlider .mainControlNav {
  color: #fff;
  font-size: 28px;
  margin-top: 20px;
  display: inline-block;
  float: right; }

.mainControlNav a {
  color: #fff; }

#fade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 998; }

/*__________________ END PHOTOS __________________*/
/*__________________  DONATE Splash __________________*/
*::-webkit-input-placeholder {
  color: #666 !important; }

*:-moz-placeholder {
  color: #666 !important; }

*::-moz-placeholder {
  color: #666 !important; }

*:-ms-input-placeholder {
  color: #666 !important; }

.page-template-page-donate-php header {
  display: none !important; }

.page-template-page-donate-php .joinform_bottom {
  display: none !important; }

#donateRow {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 3.125%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f4f4f4;
  z-index: 99999; }

#donateRow .rowInner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 130px 0;
  color: #1a294f;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 24px; }

#donateRow .rowInner #donateTop {
  padding: 0 0 30px 650px; }

#donateRow .rowInner #donateTop #donateForm.fade {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/*GENERAL DONATE FORM BOX*/
#donateRow #donateFormBox {
  transition: background 0.2s, margin 0.2s;
  float: left;
  width: 650px;
  max-width: 650px;
  margin: -160px 0 0 0;
  background: #fff;
  min-height: 746px;
  z-index: 99999;
  margin: -160px 0 0 -650px; }

#donateRow #donateFormBox .thankyouMessage {
  padding: 120px;
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 48px;
  font-weight: 300;
  font-style: italic; }

#donateRow #donateFormBox .donateHeader {
  min-height: 100px;
  padding: 19px 85px 8px 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1a294f; }

#donateRow #donateFormBox .donateHeader .title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
  font-style: italic;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: .025em; }

#donateRow #donateFormBox .donateHeader .subtitle {
  font-family: 'Lato', sans-serif;
  color: #7783b1;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
  float: left;
  letter-spacing: .025em; }

#donateRow #donateFormBox .donateHeader img {
  float: right;
  margin: 0 -60px 0 0; }

#donateRow #donateFormBox .donateSteps {
  background: #fff; }

#donateRow #donateFormBox .donateSteps .progressBar {
  background: #cccccc;
  position: relative; }

#donateRow #donateFormBox .donateSteps .progressBar span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25.2%;
  background: #b43c2e;
  transition: width 0.3s; }

#donateRow #donateFormBox .donateSteps .progressBar img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  display: block; }

#donateRow #donateFormBox .donateSteps .labels {
  position: relative;
  height: 26px;
  background: #fff; }

#donateRow #donateFormBox .donateSteps label {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .025em;
  color: #ccc;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -38px; }

#donateRow #donateFormBox .donateSteps label:first-child {
  left: 21.38%;
  margin-left: -26px; }

#donateRow #donateFormBox .donateSteps label:last-child {
  left: 78.76%;
  margin-left: -28px; }

/* GENERAL FORM STEP PANEL*/
#donateRow #donateFormBox .formPanel {
  padding: 35px 2.5% 45px 7.5%; }

#donateRow #donateFormBox .formPanel .sectionTitle {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1a294f;
  padding-bottom: 18px;
  letter-spacing: .025em; }

#donateRow #donateFormBox .formPanel .sectionTitle.red {
  color: #b43c2e; }

#donateRow #donateFormBox .formPanel .nextBtn {
  width: 125px;
  float: right;
  height: 48px;
  font-size: 21px;
  line-height: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #b43c2e;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer; }

#donateRow #donateFormBox .formPanel .prevBtn {
  width: 125px;
  float: left;
  height: 48px;
  font-size: 21px;
  line-height: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #b43c2e;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer; }

#donateRow #donateFormBox .formPanel .fieldBox {
  margin: 0 5% 25px 0;
  float: left;
  width: 45%;
  vertical-align: middle; }

#donateRow #donateFormBox .formPanel .fieldBox label {
  display: block;
  padding-bottom: 15px; }

#donateRow #donateFormBox .formPanel .fieldBox .field {
  margin: 0;
  height: 48px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-family: 'Lato', sans-serif;
  color: #666;
  font-style: italic;
  font-weight: 500;
  font-size: 14px; }

#donateRow #donateFormBox .formPanel .fieldBox.state {
  width: 15%; }

#donateRow #donateFormBox .formPanel .fieldBox.zip {
  width: 25%; }

#donateRow #donateFormBox .formPanel .fieldBox.ccnum {
  width: 95%; }

#donateRow #donateFormBox .formPanel .fieldBox.third {
  width: 28.33%; }

#donateRow #donateFormBox .formPanel .donateFormFooter {
  padding: 0 5% 0 0; }

#donateRow #donateFormBox .formPanel .donateFormFooter label {
  padding: 20px 0 10px;
  float: left; }

/*PANEL 1*/
#donateRow #donateFormBox #panel1 .amounts {
  line-height: 0;
  font-size: 0; }

#donateRow #donateFormBox #panel1 .amounts .amount {
  margin: 0 5% 16px 0;
  display: inline-block;
  height: 48px;
  width: 28.33%;
  font-size: 21px;
  line-height: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #7783b1;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

#donateRow #donateFormBox #panel1 .amounts .amount.active {
  background: #b43c2e; }

#donateRow #donateFormBox #panel1 .amounts input {
  margin: 0 5% 16px 0;
  display: inline-block;
  height: 48px;
  width: 28.33%;
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 0 3%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 48px;
  color: #ccc;
  font-style: italic;
  font-weight: 500; }

#donateRow #donateFormBox #panel1 .frequencySelect {
  padding: 0;
  width: 95%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: relative; }

#donateRow #donateFormBox #panel1 .frequencySelect label {
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #ccc;
  color: #707070;
  font-size: 18px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }

#donateRow #donateFormBox #panel1 .frequencySelect select {
  border: none;
  width: 100%;
  height: 46px;
  color: #888;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border-radius: 0 !important;
  background: transparent;
  padding: 0 10px 0 52px;
  position: relative;
  z-index: 2;
  -webkit-appearance: none; }

/*PANEL 2*/
/*PANEL 3*/
/*PANEL STEP CONTROL*/
#donateRow #donateFormBox.step1 .donateSteps .progressBar span {
  width: 25.2%; }

#donateRow #donateFormBox.step1 .donateSteps label:first-child {
  color: #b43c2e; }

#donateRow #donateFormBox.step1 .formPanel {
  display: none; }

#donateRow #donateFormBox.step1 #panel1 {
  display: block; }

#donateRow #donateFormBox.step2 .donateSteps .progressBar span {
  width: 53.85%; }

#donateRow #donateFormBox.step2 .donateSteps label {
  color: #b43c2e; }

#donateRow #donateFormBox.step2 .donateSteps label:last-child {
  color: #ccc; }

#donateRow #donateFormBox.step2 .formPanel {
  display: none; }

#donateRow #donateFormBox.step2 #panel2 {
  display: block; }

#donateRow #donateFormBox.step3 .donateSteps .progressBar span {
  width: 82.8%; }

#donateRow #donateFormBox.step3 .donateSteps label {
  color: #b43c2e; }

#donateRow #donateFormBox.step3 .formPanel {
  display: none; }

#donateRow #donateFormBox.step3 #panel3 {
  display: block; }

/* ERROR BOX */
#donateRow #donateFormBox.step3 .error_container {
  display: none;
  border: 1px solid red;
  color: red;
  padding: 1em;
  font-size: 14px;
  margin-top: 1em;
  background: rgba(255, 0, 0, 0.1) none repeat scroll 0% 0%;
  box-sizing: border-box; }

/*THANK YOU BOX*/
#donateRow.thank #donateFormBox {
  background: #37446D;
  float: none;
  margin: -160px auto 0px; }
  #donateRow.thank #donateFormBox .donateHeader, #donateRow.thank #donateFormBox .donateSteps, #donateRow.thank #donateFormBox .formPanel {
    display: none !important; }
  #donateRow.thank #donateFormBox .thankyouMessage {
    display: block; }
#donateRow.thank .rowInner #donateTop {
  padding: 0px 0px 30px 0px; }
#donateRow.thank .certifyBlock, #donateRow.thank .donate_content_area {
  display: none !important; }

/*certify block*/
.certifyBlock {
  padding: 65px 0 0 10%;
  float: right;
  width: 100%; }

.certifyBlock h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px; }

.certifyBlock ul {
  list-style-type: decimal; }

.certifyBlock ul li {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px; }

#donateRow.embedded_donate #donateTop #donateFormBox {
  position: relative;
  margin-top: -120px; }
  #donateRow.embedded_donate #donateTop #donateFormBox .shadow {
    box-shadow: 0px -5px 11px -4px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0px -5px 11px -4px rgba(0, 0, 0, 0.4) inset;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 2; }
  #donateRow.embedded_donate #donateTop #donateFormBox iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*__________________  Splash __________________*/
.splash .left {
  float: left;
  width: 59%;
  margin-left: 1%; }

.splash .right {
  float: right;
  width: 32%; }

.splash .landing_callout {
  padding: 200px 0 180px 0; }

.splash .callout_1 {
  font-size: 25px;
  margin-bottom: 24px;
  color: #fff; }

.splash .callout_2 {
  font-size: 40px;
  margin-bottom: 14px;
  color: #fff;
  font-weight: 300; }

.splash .callout_3 {
  color: #7081ad;
  background: none;
  font-size: 20px;
  padding: 0; }

.splash .joinForm {
  border: none; }

.splash .joinForm .error {
  color: red;
  display: block;
  margin-bottom: 10px;
  text-align: center; }

.splash .joinForm input[type=submit], .splash .joinForm input[type=text], .splash .joinForm input[type=email] {
  width: 100%;
  margin-bottom: 24px;
  padding: 18px 2% 14px 2%;
  border: 1px solid #7783b1;
  background: #ffffff;
  color: #48506D;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.splash .joinForm input[type=submit] {
  background: #d42726;
  border: none;
  padding: 16px 12px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 100;
  color: #ffffff;
  margin: 22px 0 48px 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-top: 0px;
  width: 100%;
  text-align: left;
  padding-left: 24px; }

.splash .joinForm input::-webkit-input-placeholder {
  color: #bdc9fa; }

.splash .joinForm input:-moz-placeholder {
  color: #bdc9fa;
  opacity: 1; }

.splash .joinForm input::-moz-placeholder {
  color: #bdc9fa;
  opacity: 1; }

.splash .joinForm input:-ms-input-placeholder {
  color: #bdc9fa; }

.skipLink {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: -50px;
  font-weight: 100;
  font-style: italic; }

.skipLink i {
  margin-left: 4px; }

.hiddenMessage {
  display: none;
  text-align: center; }

.hiddenMessage button {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  background: #d42726;
  border: none;
  padding: 0px 12px;
  font-size: 25px;
  line-height: 48px;
  font-weight: 100;
  color: #ffffff;
  margin: 22px 0 48px 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-top: 0px;
  width: 200px;
  display: inline; }

.splash input[type="checkbox"] {
  display: none !important; }

.splash label {
  cursor: pointer;
  color: white;
  margin-bottom: 1em;
  display: inline-block; }

.splash input[type="checkbox"] + label:before {
  border: 1px solid #ffffff;
  content: "\00a0";
  display: block;
  font: 17px/1em sans-serif;
  height: 20px;
  margin: .5em .5em 1em 0;
  padding: 0;
  line-height: 20px;
  width: 20px;
  float: left; }

.splash input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center; }

.splash input[type="checkbox"]:checked + label:after {
  font-weight: bold; }

/*__________________ END Splash __________________*/
#formOverlay {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  cursor: wait; }

/* POP OVER STYLES */
#fade {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99000; }

#loadPop.popup_block {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 150px;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  #loadPop.popup_block .popup_inner {
    width: 100%;
    min-height: 100px;
    position: relative;
    z-index: 999999;
    padding: 0;
    text-align: left;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #loadPop.popup_block .popHeadline {
    background: #1a294f;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    font-size: 55px;
    line-height: 55px;
    padding: 30px 7.5%;
    text-align: center; }
  #loadPop.popup_block .popMain {
    background: #fff;
    padding: 30px 7.5%; }
  #loadPop.popup_block label {
    font-size: 18px;
    line-height: 20px;
    color: #666;
    padding: 0 0 5px 0;
    display: block; }
  #loadPop.popup_block .popField {
    height: 80px;
    width: 100%;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 22px;
    line-height: 24px;
    padding: 25px;
    margin: 0 0 20px 0; }
  #loadPop.popup_block .popFooter {
    padding: 0 180px 0 0; }
  #loadPop.popup_block .popDates {
    font-size: 28px;
    line-height: 28px;
    float: left;
    color: #1a294f; }
  #loadPop.popup_block .popSubmit {
    float: right;
    margin: 0 -180px 0 0;
    height: 56px;
    width: 150px;
    text-align: center;
    color: #fff;
    background: #d42726;
    font-size: 28px;
    line-height: 30px;
    border: none; }
  #loadPop.popup_block a.btn_close {
    display: block;
    width: 30px;
    height: 30px;
    background: url(popup/close_pop2.png) no-repeat;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10000; }

@media only screen and (max-width: 580px) {
  #loadPop.popup_block label {
    text-align: center;
    padding: 0 0 20px 0; }
  #loadPop.popup_block .popFooter {
    padding: 0;
    text-align: center; }
  #loadPop.popup_block .popDates {
    float: none;
    margin: 0 0 25px 0; }
  #loadPop.popup_block .popSubmit {
    float: none;
    margin: 0; } }
