@charset "UTF-8";

/*__________________ LANDING __________________*/
@media only screen and (max-width: 1280px)
{
    .callout_1                                      {margin: 0;}

    .interior_banner                                {height:512px;}
}

@media only screen and (max-width: 1220px) 
{   
    .wrapper                                            {max-width: none; width: 92%;  margin: 0 4% 0 4%;}
    body                                                {background: #18171f;}
    .top_social                                         {float: left; margin: 25px 0 0 0;}
    header ul li                                        {margin: 0 5px;}
    header ul li a                                      {font-size:12px;}
    
    .landing_callout                                    {max-width: none; padding: 250px 0 99px 0; max-width: 720px;}
    /*.callout_1                                          {font-size: 32px;}*/
    /*.callout_2                                          {font-size: 20px;}*/
    /*.callout_3                                          {font-size: 16px;}*/
    
    .foot-left                                          {width: 19%; margin: 0 0 33px 4%;}
    .foot-right                                         {width: 16%; margin: 0 0 33px 0;}

    .joinform_left                                      {width: 55%;}
    .joinform_right                                     {width: 45%;}
    
    .joinform_right form                                {width: 270px; margin: 0 0 0 20px; float: left;}
    .joinform_right p                                   {margin: 35px 0 0 0;}
    
    
    /*__________________ INTERIOR __________________*/
    .interior_banner                                    {height: 500px; margin: 0 auto 0 auto; background-position: 70% top; background-size: cover; }
    .blog .interior_banner                              {background-position: 70% 80px;}
    .interior_join                                      {height: 500px; background-position: 70% top; background-size: cover; }  
    .interior_pagetitle                                 {}
        .interior_pagetitle h1                          {margin: 37px 0 104px 0; font-size: 48px; }
    .title_notch                                        {display: block; height: 36px; position: inherit; top: 90px; left: 0px; background-image: url(images/cut_out_arrow_1220.png); background-position: left top;}
    .interior_content                                   {padding: 15px 0 35px 0;margin-top: 90px;}
    .interior_pagetitle .wrapper                        {bottom: -190px;max-width: 92%;}
    /*__________________ END INTERIOR __________________*/

    #hideBox                                            {width: 260px; left: 50%; right: auto; z-index: 99999; margin: 0 0 0 -130px; }
    #hideBox form                                       {margin: -26px 0 0 0; height: 32px; }
    #hideBox form input[type="text"]                    {background: #ffffff; padding: 12px 0 12px 4%; border: none; font-size: 14px; color: #7783b1; letter-spacing: 3px; width: 78%; display: inline-block; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
    #hideBox form input[type="submit"]                  {width: 20%; padding: 12px 0 12px 0; text-align: center; background: #7783b1; color: #ffffff; font-weight: 300; font-size: 14px; letter-spacing: 3px; display: inline-block; border: none; margin: 0 0 0 -1%; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
    #hideBox img                                        {position: relative; top: -40px; right: 0px;}

    .splash .landing_callout                                {padding: 50px 20px;}
    .splash .joinForm input[type=submit] {font-size:28px;}
    .skipLink {margin-bottom: -20px;}
}

@media only screen and (max-width: 1070px)
{
        .top_sig_logo {width: 100px;margin-top: 16px;}
}

@media only screen and (max-width: 1120px)
{
    .comments_name h3 span                              {display: block; }
    .comments_left                                      {width: 100%; margin: 45px 0 -40px 0; float: none; position: relative; top: 0px; left: 0px; z-index: 997;}
    .comments_right                                     {width: 100%; margin: 0px 0 30px 0; padding: 56px 2% 31px 40px; float: none;  }        
    .left_pointer                                       {display: none; }
    .check_mark p                                       {font-size: 28px; margin: 0;}
    .content_full form input[type="checkbox"] + label span {width:40px; height: 40px; background: url(images/button_check_sprite.jpg) left top no-repeat;cursor: pointer;float: left;background-size: 200% auto;}
    .content_full form input[type="checkbox"]:checked + label span {background: url(images/button_check_sprite.jpg) -40px top no-repeat;float: left;background-size: 200% auto;}
    #donateRow .rowInner #donateTop {padding:0 0 30px 0px !important;}
    #donateRow #donateFormBox {margin:-50px 0 0 0 !important; width:100% !important; max-width:none !important; min-height: auto !important;}
    .certifyBlock { padding: 45px 0 0 0;float: none; max-width: 650px; margin: 0 auto;}
    #donateRow #donateFormBox .thankyouMessage {padding: 20px; font-size: 22px; line-height: 24px;}
    #donateRow.thank .rowInner {padding-bottom: 0;}

    #donateRow.embedded_donate {
    #donateTop {
        #donateFormBox {
            margin: -50px auto 0 auto !important;
            width: 100% !important;
            max-width: 650px !important;
            min-height: 746px !important;
            float: none;
        }
    }
}

}

@media only screen and (max-width: 890px)
{
    .joinform_left                                      {width: 100%; padding: 35px 4% 50px 4%; background: #1a294f; background-image: none; }
    .joinform_left p                                    {text-align: center; margin: 0 0 0 0;}
    
    .mid_chevrons                                       {display: block; position: relative; z-index: 999; top: 86px; left: 50%; margin: 0 0 -41px -20px;width: 40px;}
    
    .joinform_right                                     {width: 100%; padding: 35px 4% 36px 4%; height: auto; text-align: center;}
    .joinform_right form input                          {width: 100%; margin: 0 0 0 0;}
    .joinform_right p                                   {display: block; text-align: center; margin: 15px auto 0 auto;}    

    .joinform_right form                                {margin: 10px auto 0 auto; float: none; display: inline-block;}
    .joinform_right p                                   {margin: 15px 0 0 0; float:none; display: inline-block;padding-bottom: 10px;}

}

@media only screen and (max-width: 855px)
{
    .interior_banner                                    {background-position: 80%; height: 400px; top: 0px; margin: 0 auto 0px auto; }
    .blog .interior_banner                              {background-position: right 80px;}
    .interior_join                                      {background-position: 80%; height: 80px; top: 0px; margin: 0 auto 0px auto;}

    /*header                                              {margin: 0 auto -106px auto;}*/
    /*header .wrapper                                     {max-width: none; width: 520px; margin: 0 auto 0 auto;}*/
    header ul li                                        {margin: 0px 5px 20px 5px;}
    header ul li a                                      {font-size: 10px;}
    /*.top_sig_logo                                       {display: block; float: none; clear: both; margin: 0 auto 0 auto;}*/
    /*.top_social                                         {padding: 0; float: none; clear: both; margin: 0 auto 0 auto;}*/
    /*#navdonate                                          {margin: -10px 20px 0 10px;}*/
    
    .landing_mid                                        {margin: 0 0 -9px 0;}
    .landing_bg                                         {background-size: auto 73%;}
    .landing_callout                                    {padding:150px 20px 49px 20px;}
    .callout_1                                          {margin-top: 100px;}

    .briefing_header                                    {font-size:32px;}
    
    .foot-left, .foot-mid, .foot-right                  {float: none; width: 100%; margin: 0 0 15px 0; text-align: center;}
    .foot-mid                                           {width: 78%; margin: 25px auto 25px auto;}
    .foot-mid ul li                                     {margin: 0px 0 5px 9px;}
    .foot-right                                         {margin: 0 0 33px 0;}     
    
    /*__________________ INTERIOR __________________*/
    .content_left                                       {max-width: 80%; float: none; margin: 0 auto 40px auto;}
    .detail_left                                        {max-width: 100%; float: none; margin: 0 auto 40px auto;}
    .content_right                                      {max-width: 307px; float: none; margin: 0 auto 0 auto;}     
        .interior_pagetitle h1                          {font-size: 30px; margin: 37px 0 104px 0; text-align: center; } 
    .title_notch                                        {background-image: url(images/cut_out_arrow_770.png); background-position: center top;} 
    
        .content_full h1                                {text-align: center;}
        .content_full h3                                {display: block; max-width: 500px; margin: 23px auto 42px auto; text-align: center;}
    /*.input_third_left                                   {width: 80%; display: block; float: none; margin: 0 auto 22px auto; }*/
    /*.input_third_mid                                    {width: 80%; display: block; float: none; margin: 0 auto 22px auto;}*/
    /*.input_third_right                                  {width: 80%; display: block; float: none; margin: 0 auto 22px auto;}*/
    /*.input_sixth                                        {width: 80%; display: block; float: none; margin: 0 auto 22px auto;}        */

    .joinForm .check_mark                                         {width: 33%; float: left; margin: 0 0 41px 0;}
    
    .briefing_left                                      {max-width: 100%; float: none; margin: 0 auto 40px auto;}

    .sidebar_tags                                       {width: 30%; margin: 0 3% 0 0; float: left;} 
    .briefing_right form input                          {width: 79%; background: url(images/icon_magnify.png) 2% 11px no-repeat #ffffff; padding: 9px 0 9px 6%; display: block;  margin: 0 auto 37px auto; }          
    .detail_right form input                            {width: 79%; background: url(images/icon_magnify.png) 2% 11px no-repeat #ffffff; padding: 9px 0 9px 6%; display: block;  margin: 0 auto 37px auto; }         
    
    .briefing_right                                     {width: 100%; float: none; margin: 0 auto 0 auto;} 
    .detail_right                                       {width: 100%; float: none; margin: 0 auto 0 auto;}     
    /*__________________ END INTERIOR __________________*/                  
    
    /*#hideBox                                            {top: -4px; right: -18%; }*/
    /*#hideBox img                                        {right: -56%;}*/

    /*---Splash---*/
    .splash .left .callout_1 {margin-top:0px}

}

@media only screen and (max-width: 767px)
{
    header                                              {top:10px;}
    header .wrapper                                     {max-width: none; width: 100%; margin: 0;}
    .top_sig_logo                                       {margin:0 auto; float: left; clear: none;}
    .top_social                                         {float: left;margin: 10px 0 0 0;clear: none;}
    .mobmenuBtn                                         {float: right;color: #fff;display: block;margin-top: 15px; margin-right: 10px;}
    .landing_bg                                         {background-size: auto 72%;background-position: 66% center;}
    .callout_1                                          {font-size: 36px; line-height: 40px;}
    .callout_2                                          {font-size: 24px;}
    .callout_3                                          {font-size: 12px;}

    /*#hideBox                                            {top: -4px; right: -0%; }*/
    /*#hideBox img                                        {right: -62%;}*/

    .top_navigation                                     {display:none}
    .mobmenu                                            {display:block; text-align: center; position: relative; z-index: 999999;}
    .mobmenubody                                        {background: none repeat scroll 0 0 #18171f; position: relative; top: 0px; left: 0px; width: 100%; z-index: 999;}
    .mobmenubody ul                                     {padding-left: 0px; }
    .mobmenubody ul li                                  {display:block; padding: 0px 20px;}
    .donateButton                                          {background-color: #d42726; padding: 10px 0px; margin: 0 0px 0 0px; width: 100%;}

}

@media only screen and (max-width: 650px)
{
    #donateBox                      {width: 100%; left: 0; margin-left: 0;}
    #donateBox .inner .row.top {padding: 20px ;}
    #donateBox .inner .closeBtn {top: 10px;left: 10px}
    #donateBox .inner .row.top h1 {font-size: 26px;}
    #donateBox .inner .row.top h2 {font-size: 16px;}
    #donateBox .inner .row.top .cards {right: 10px;top: 10px;}

    #donateBox .inner .row.bottom {padding: 80px 20px 20px 20px;}


    .donateForm .next   {right: 10px;bottom: -50px;}
    .donateForm .prev   {left: 10px;bottom: -50px;}

    .donateForm input.nameOnCard {width: 95.5%;}
    .donateForm input.cardNum {width: 78%;}
    .donateForm input.ccv {width: 17%;}
    .donateForm select.exp {width: 47.5%;}

    .splash .left {width: 100%; margin-left: 0;}
    .splash .right {width: 100%; margin-top: 20px;}
    .splash .joinForm input[type=submit] {margin-bottom: 0px;}

    .splash input[type="checkbox"] + label:before {margin-top: 0;}

  .page-template-page-donate-php .interior_banner {background-position: 78% center !important;}
}

@media only screen and (max-width: 580px)
{
    .briefing_right form input                          {width: 280px; background: url(images/icon_magnify.png) 5px 11px no-repeat #ffffff; padding: 9px 0 9px 30px;}   
    .detail_right form input                            {width: 280px; background: url(images/icon_magnify.png) 5px 11px no-repeat #ffffff; padding: 9px 0 9px 30px;}   
    .sidebar_tags                                       {display: none;}
    .article_box                                        {width: 97%; padding: 0 0 48px 0; margin: 0 3% 0 0; }

    .splash .landing_callout {padding: 15px;}
    .splash .callout_1 {line-height: 25px;}
    .splash .callout_2 {font-size: 24px; line-height: 26px;}

    .splash .joinForm {margin-top:20px}
    .splash .joinForm input {padding: 8px 2%;font-size: 14px;max-width: 320px;margin: 0px auto;display: block;}
    .splash .joinForm input[type=submit] {padding: 0px 2%;max-width: 320px;margin: 17px auto 0 auto;display: block;}

    .skipLink {margin: 15px 0;}
}

@media only screen and (max-width: 530px)
{
    footer h2                                           {max-width: 265px; margin: 0 auto 11px auto}
}

@media only screen and (max-width: 520px)
{

    .interior_banner                                    {height: 350px;}
    .full_page h3                                       {font-size: 26px;}
    .input_third_left                                   {width: 100%; display: block; float: none; margin: 0 auto 10px auto; }
    .input_third_mid                                    {width: 100%; display: block; float: none; margin: 0 auto 10px auto;}
    .input_third_right                                  {width: 100%; display: block; float: none; margin: 0 auto 10px auto;}
    .input_sixth                                        {width: 100%; display: block; float: none; margin: 0 auto 10px auto;}

    .joinForm h3                                        {margin: 0 0 1em 0;}
    .joinForm .check_mark                                         {width: 50%; float: left; margin: 0 0 25px 0;}
    .full_page .joinForm input[type="checkbox"] + label span {width: 30px;height: 30px;margin: 0 8px 0 0;}
    .joinForm .check_mark p {margin: 0;font-size: 14px;line-height: 19px;vertical-align: middle;}


    

}

@media only screen and (max-width: 480px)
{
    .blog .interior_banner {background-position: right 101px;}
    #donateBox {height: auto; top: 0 !important; margin-top: 0 !important;}

    #donateBox .inner .row.top h1 {font-size: 20px;}
    #donateBox .inner .row.top h2 {font-size: 12px;}


    .donateForm .next   {right: 10px;bottom: 0px;}
    .donateForm .prev   {left: 10px;bottom: 0px;}

    .donateForm input[type=text], .donateForm input[type=email], .donateForm select {width: 96%;}
    .donateForm .panel {padding-bottom: 50px;}



}

@media only screen and (max-width: 388px)
{
    .blog .interior_banner                              {background-position: -364px 102px;}
    .page-template-page-join-php .interior_banner       {background-position: 58% center;}
    .mid_chevrons                                       {width: 20px;position: absolute;top: 33px;margin: 0 0 0 -10px;}
    .joinform_left                                      {padding: 10px;}
    .joinform_left p                                     {text-align: center;margin: 0 0 0 0;font-size: 14px;}
    .joinform_right                                     {padding: 10px 0;}
    .joinform_right form                                {width: 250px;}
    .joinform_right form input                          {font-size: 16px; line-height: 16px;}
    .joinform_right p                                   {font-size: 16px;}

    
     .interior_pagetitle h1                          {font-size: 20px; margin: 37px 0 85px 0; text-align: right; }
    .title_notch                                        {background-position: -115px top;}
    .interior_pagetitle h1 a.keyword_tag {padding: 4px 4px;font-size: 8px;line-height: 8px;margin: 4px 2px 0 0;}
    .issue form                                             {margin-bottom: 1em}
}

